/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav ul {margin-left: 2%;}
nav ul li {
    float: left;
}
nav ul li a {border: none;
border-right: 1px solid rgba(175, 175, 175, 0.3);
background-color: rgb(175, 175, 175);
    color: #000;
padding: .8rem 1rem;
}
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}
/*----------- MAIN --------------*/
div {
    display: inline-grid;
    grid-template-rows: auto;
    padding: 1rem;
  }


/*----------- FOOTER --------------*/
    
} /* end of media query */